# general
.old/
.tmp/
.rdata/
.coa/
# code
Rplots.pdf
code/tikz/main.pdf
# tex
*.aux
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.log
*.out
*.ptc*
*.run.xml
*.synctex
*.synctex.gz
*.toc
# windows
.DS_Store
